In [5]:
# Suburb growth data Victoria 
# Import and forma a dataframe/csv for use in further analysis
import pandas as pd


growth_data_to_use = pd.read_csv("Resources/suburb_growth_data.csv")
growth_data_to_use.head()

     Row Labels   2016   2021   2026   2031   2036
0    Abbotsford   8770  11197  12103  13074  14263
1  Airport West   7903   8716   9480  10257  11000
2   Albert Park  16490  18013  19094  19906  20797
3    Alphington   9434  10091  10702  11353  12046
4        Altona  13206  14245  15099  15926  16739

In [6]:
# check dtypes to see if works in calculations etc.
growth_data_to_use.dtypes

Row Labels    object
2016           int64
2021           int64
2026           int64
2031           int64
2036           int64
dtype: object

In [7]:
# Rename columns for better visual
growth_data_to_use.rename(columns={"Row Labels": "Area Name"}, inplace=True)
growth_data_to_use.rename(columns={"2016": "Total 2016"}, inplace=True)
growth_data_to_use.rename(columns={"2021": "Total 2021"}, inplace=True)
growth_data_to_use.rename(columns={"2026": "Total 2026"}, inplace=True)
growth_data_to_use.rename(columns={"2031": "Total 2031"}, inplace=True)
growth_data_to_use.rename(columns={"2036": "Total 2036"}, inplace=True)


# dAdd columns calculating growth and growth %
growth_data_to_use["Total Growth"] = growth_data_to_use["Total 2036"] - growth_data_to_use["Total 2016"]
growth_data_to_use["Total Growth %"] = growth_data_to_use["Total Growth"] / growth_data_to_use["Total 2016"]
growth_data_to_use.dtypes

Area Name          object
Total 2016          int64
Total 2021          int64
Total 2026          int64
Total 2031          int64
Total 2036          int64
Total Growth        int64
Total Growth %    float64
dtype: object

In [8]:


# Remove any zero data rows
growth_data_to_use = growth_data_to_use.loc[growth_data_to_use["Total Growth"]>0]

growth_data_to_use.to_csv("Output/grmelbourne_growth_byarea.csv")